{
	"presets": [
		[
			"@babel/preset-env",
			{
				"corejs": "3.1.3",
				"useBuiltIns": "usage",
				"debug": true
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"react-hot-loader/babel",
		"@babel/plugin-proposal-async-generator-functions",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-export-namespace-from",
		"@babel/plugin-syntax-dynamic-import"
	]
}
